.card {
    cursor      : pointer;
    width       : 260px;
    border      : solid var(--COLOR_BORDER) 1px;
    margin-right: 15px;
}
  
.card:hover {
    border: solid #d60b52 1px;
}

.card:hover .card-main .card-title {
    color: #d60b52;
}

.card-main {
    padding: 15px;
}

.card-title {
    font-weight : bold;
    height      : 60px;
}

.card-content {
    font-size: 14px;
}

.card-footer {
    display         : flex;
    justify-content : space-between;
    padding         : 15px;
    border-top      : solid #dedede 1px;
}

.card-footer--category {
    font-size     : 12px;
    background    : #d60b52;
    color         : #fff;
    padding       : 4px 10px;
    border-radius : 3px;  
}

.card-footer--timestamp {
    font-size     : 11px;
    margin-top    : 4px;
}